* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto Serif;
}

:root{
    --black-primary: #000000;
    --pink-dark: #EB4A7B;
    --pink-baby: #FD6A9A;
}

nav {
    background-color: var(--black-primary);
    display: flex;
    justify-content: space-between;
    padding: 5% 8%;
    color: white;
    align-items: center;
}
    
.logo-patinha {
    width: 3rem;
    margin-right: 5px;
}

.icones {
    width: 3rem;
}

.caixa {
    display: flex;
    align-items: center;
}
   
.somente-desktop {
    display: none;
}

.texto-logo {
    font-weight: bold;
    font-size: 1.5rem;
}


header {
    background-image: url("./assets/cachorro.png");
    min-height: 70vh;
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-patinha {
    width: 5rem;
    margin-top: 3rem;
}


h1 {
    color: white;
    font-weight: bold;
    font-family: serif;
    font-size: 2.2rem;
    text-align: center;
}

.tosa {
    color: #3A342F;
    font-weight: bold;
    font-family: serif;
    font-size: 2rem;
}

section {
    background-image: url("./assets/Grupo\ 484.png");
    min-height: 70vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 2rem;
}

.texto-section {
    color: #3A342F;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fale-conosco {
    background-color: #3A342F;
    color: #F4F2F3;
    width: 40%;
    height: 40px;
    border-radius: 10rem;
    font-size: 15px;
    border: none;
}
@media (min-width:  769px) {
    .icones {
        width: 2rem;
    }

    nav {
        padding: 1% 5%;
        justify-content: space-between;
        min-height: 70px;
    }

    .logo-patinha {
        width: 2.5rem;
    }

    .texto-logo {
        font-size: 15px;
    }

    .espaco-entre {
        justify-content: space-evenly;
        min-width: 15%;
    }

    .somente-desktop {
        display: inline;
    }

    header {
        background-image: url(./assets/Grupo\ 486@2x.png);
        background-size: cover;
        background-position: bottom;
        min-height: 100vh;
        padding: 7%;
    }

    h1 {
        font-size: 3rem;
    }

    .img-patinha {
        width: 5rem;
        margin-top: 2rem;
    }

    .section-banho-tosa {
        background-image: url("./assets/Interseção\ 16.png");
        background-color: #f4f2f3;
        background-repeat: no-repeat;
        background-position: right;
        min-height: 100vh;
        padding: 8rem 0 0 3rem;
    }

    .fale-conosco {
        width: 9rem;
        height: 3rem;
        font-weight: none;
        font-size: 1.2rem;

    }

    .texto-section {
        font-size: 1.5rem;
        text-align: left;
    }

    .tosa {
        font-size: 2.5rem;
        margin-bottom: 0.7rem
    }
}
